{% extends "layout.html" %}

{% block content %}
<footer class="footer">
    <div class="bg-gray-light">
        <div class="container-wide">
            <div class="menu-block-wrapper menu-block-9 menu-name-menu-footer-primary parent-mlid-0 menu-level-1 out"  style="display: inline-block">
                <div class="menu_nav">

                    <div class="nav updiv">
                        <h4 align="center"><b>COOPERATIVE PARTNERS</b></h4>
                        <div class="sponsors">
                            <a href="http://www.itp.cas.cn/"><img src="images/lw.jpeg" style="margin-top:5px" lt="img" width="250px" height="34" /></a><br>
                            <a href="http://www.itp.cas.cn/" title="ITP"> Institute of Theoretical Physics </a>
                        </div>
                        <div class="sponsors">
                            <a href="http://www.ihep.cas.cn/"><img src="images/gw.jpeg" style="margin-top:5px" alt="img" width="200px" height="34" /></a><br>
                            <a href="http://www.ihep.cas.cn/" title="IHEP">Institue of High Energy Physics</a>
                        </div>
                        <div class="sponsors">
                            <a href="http://casathome.ihep.ac.cn/"><img src="images/cas.jpeg" style="margin-top:5px" alt="img" width="200px" height="34" /></a><br>
                            <a href="http://casathome.ihep.ac.cn/" title="CAS@home">CAS@home</a>
                        </div>
                        <br>
                        <div class="sponsors">
                            <a href="http://www.cityu.edu.hk/"><img src="images/chk.jpeg" style="margin-top:5px"  alt="img" width="150px" height="30" /></a><br>
                            <a href="http://www.cityu.edu.hk/" title="CUHK">City University of Hong Kong</a>
                        </div>
                        <div class="sponsors">
                            <a href="http://missouri.edu/"><img src="images/msl.png" style="margin-top:5px"  align="middle" alt="img" width="57" height="34" /></a><br>
                            <a href="http://missouri.edu/" title="UM">University of Missouri</a>
                        </div>

                    </div>
                    <div class="nav middiv">
                        <h4 align="center"><b>SPONSORS</b></h4>
						<div class="sponsors">
                        	<a href="http://www.nsfc.gov.cn/"><img src="images/nsfc.jpeg" style="margin-top:5px"  alt="img" width="200" height="34" /></a><br>
                        	<a href="http://www.nsfc.gov.cn/" title="NSFC">National Natural Science Foundation of China</a>
                    	</div>
                    	<div class="sponsors">
                        <a href="http://www.973.gov.cn/AreaAppl.aspx"><img src="images/973.jpeg" style="margin-top:5px"  alt="img" width="80" height="40" align="middle" /></a><br>
                        <a href="http://www.973.gov.cn/AreaAppl.aspx" title="973">The National Basic Research Program (973 Program) </a>
                        </div>

                    </div>

                    <div class="nav downdiv">
                        <h4 align="center"><b>Reference</b></h4>
                        <div align="left">
                        	<li>Bin Huang, Tingwen Fan, Kaiyue Wang, Haicang Zhang, Chungong Yu, Shuyu Nie, Yangshuo Qi, Wei-Mou Zheng, Jian Han, Zheng Fan, Shiwei Sun, Sheng Ye, Huaiyi Yang, Dongbo Bu bioRxiv 2022.06.25.497605；doi：https ://doi.org/10.1101/2022.06.25.497605<a href="https://www.biorxiv.org/content/10.1101/2022.06.25.497605v1.full" target="_black" >[pdf]</a></li>
                        	
                        	<li>Kong, L., Ju, F., Zheng, W. M., Sun, S., Xu, J., & Bu, D. (2020). ProALIGN: Directly learning alignments for pro    tein structure prediction via exploiting context-specific alignment motifs. RECOMB2021.<a href="lib/proalign.pdf" target="_black" >[pdf]</a> <a href="lib/proalign.bib" target="_black">[cite]</a></li>
                        	<li>Ju, F., Zhu, J., Shao, B., Kong, L., Liu, T. Y., Zheng, W. M., & Bu, D. (2020). CopulaNet: Learning residue co-e    volution directly from multiple sequence alignment for protein structure prediction. Nature communications, 12(1), 1-9.<a href="lib/profold.pdf" target="_black" >[pdf]</a><a href="lib/profold.bib" target="_black">[cite]</a></li>
                        	<li>Wang, C., et al. (2015). FALCON@home: a high-throughput protein structure prediction server based on remote homologue recognition. Bioinformatics, 32(3), 462-464.<a href="lib/falcon.pdf" target="_black">[pdf]</a> <a href="lib/falcon.bib" target="_black">[cite]</a></li>
                            

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </footer>
{% endblock %}
