#DockingTab {
    position: absolute;
    top: 24%;
    left: 36%;
    width: 270px;
    z-index: 10;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #00aaff;
    box-shadow: 0 0 10px #00aaff;
    border-radius: 10px;
    color: #00aaff;
    padding: 10px;
    font-family: 'Microsoft YaHei', sans-serif;
}

.closeClass {
    float: right;
    cursor: pointer;
    color: #ff4444;
    font-weight: bold;
}

select, button {
    background: rgba(255, 255, 255, 0.8);
    border: 1px none #00aaff;
    color: #00aaff;
    padding: 2px;
    cursor: pointer;
    font-family: 'Microsoft YaHei', sans-serif;
}

button:hover, select:hover {
    background: rgba(255, 165, 0, 0.8);
}

#DockingInnerTab {
    display: flex;
    flex-direction: column; /* 确保子元素垂直排列 */
    align-items: center; /* 水平居中所有子元素，包括按钮 */
    justify-content: center; /* 如果需要，也可以用来垂直居中内容 */
}

label {
    color: #00aaff;
}

.DockingUl {
    width: 80%; /* 确保UL占据整个父容器的宽度 */
    display: flex;
    flex-direction: column; /* 使列表项垂直排列 */

    margin-top: 30px;
    list-style-type: none;
}

.DockingUl li {
    margin-bottom: 10px;
}

#DockingSubmit {
    width: 80px;
    line-height: 17px;
    border-radius: 5px;
    height: 30px;
    margin-top: 20px; /* 根据需要调整间距 */
    align-items: center; /* 水平居中所有列表项 */
}

#DockingTool {
    position: absolute;
    right: 30px;
    width: 80px;
}

#Receptor {
    position: absolute;
    right: 30px;
    width: 80px;
}

#Ligand {
    position: absolute;
    right: 30px;
    width: 80px;
}